<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
<%= link_to 'Add notes', new_user_note_path(current_user, :meeting_id => @meeting.id) %>

</p>

<%= link_to 'Edit', user_meeting_path(current_user, @meeting) %> |
<%= link_to 'Back', user_meetings_path(current_user) %>
