<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
<%= link_to 'Add notes', new_user_note_path %>

</p>

<%= link_to 'Edit', edit_user_meeting_path(current_user, @meeting) %> |
<%= link_to 'Back', meetings_path %>
